<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
		default-init-method="init" 
		default-destroy-method="destroy">


	<bean id="fonteDados" class="com.rsouza01.common.impl.FonteDadosArquivo">
		<property name="arquivo" value="/arquivos/pessoas.csv"/>
	</bean>
	
	<bean id="impressor" class="com.rsouza01.common.impl.ImpressorImpl"/>
	
	<bean id="processador" class="com.rsouza01.common.Processador">
		<property name="impressor" ref="impressor"/>
		<property name="fonteDados" ref="fonteDados"/>
	</bean>
	
	<bean id="pessoaService" class="com.rsouza01.common.service.PessoaService">
		<property name="pessoaDAO" ref="pessoaDAO"/>
	</bean>
	

</beans>