<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
		default-init-method="init" 
		default-destroy-method="destroy">


	<bean id="pessoaDAO" class="com.rsouza01.common.DAO.PessoaDAO">
		<property name="entityManager" ref="entityManager"/>
	</bean>
	
</beans>